{% extends '../entity_base_list.html' %}

{% block title %}Lojas - ERP System{% endblock %}

{% block list_header %}Lista de Lojas{% endblock %}

{% block content %}
    <div style="margin-bottom: 20px; text-align: right;">
        <a href="/erp/stores/create" class="button" style="background-color: #4CAF50; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px;">Adicionar Nova Loja</a>
    </div>
    <div class="card-container">
        {% for store in stores %}
            <a href="/erp/stores/update/{{ store.id }}" class="card">
                <strong>{{ store.name }}</strong><br>
                Região: {{ store.region.state }} - {{ store.region.city }}<br>
                Bairro: {{ store.neighborhood }}
            </a>
        {% endfor %}
    </div>
{% endblock %}
